{% extends "base.html.twig" %}

{% block inscription %}
    
    {% if form.valide is defined %}
 {% if form.valide == true %}
     <h1 >{{ form.message }}</h1><br><br>
 {% else %}
     <h1 >{{ form.message }}</h1><br><br>
 {% endif %}
{% endif %} 
<h2> 

    
    <h1><i class="fa fa-newspaper-o" aria-hidden="true"></i> Les Actualités de World of Warcraft </h1><br>
    
    {% for a in liste %}
        
    <br>
        <div class="title-a">  {{a.titre}} </div> <br><br>
        <div class="message-a">  {{a.message}} </div><br><br>
      
                              
        <br><div class="publish-a"><i class="fa fa-user" aria-hidden="true"></i> Publié par <b>AdminWoW</b> le {{a.date}}</div>
        
  <span class="likebtn-wrapper" data-lang="fr" data-i18n_like="J'aime" data-ef_voting="push" data-identifier="like_01"></span>
 <!-- 
<script>
    (function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs"
    ;a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");
</script>
 -->

        
        
            {%if session.role == 2 %}
            <div class="del">    <a href="index.php?page=actualite&idactu={{a.idactu}}"> SUPPRIMER </a> </div><br>{% endif %}

    
            <br><center><div class="separationBorder "></div></center><br>
    {% endfor %}
        
    {%endblock %}
        
        {% block style %}
            
            <style>
        .del {
            float: right;
        }
        
        .separationBorder {
            height: 3px;
            background: #d83c00;
            max-width: 125px;

        }
        .title-a {
            margin-top: 0px;
            margin-left: 10px;
            font-size: 22px;
            border-left: 3px solid #d83c00;
            padding-left: 8px;
            text-align: left;
            line-height: 1.8;
            font-family: Verdana;
            
        }
        .message-a {
            margin-top: 0px;
            margin-left: 10px;
            font-size: 15px;
            font-family: 'Open Sans', Arial, sans-serif;
            line-height: 1.4;
        }
        .publish-a {
            margin-top: 0px;
            margin-left: 10px;
            font-size: 12px;
        }
                </style>
                
                {% endblock%}